<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="b1740b52-4986-46d4-84f7-65764d44c604"
            Publisher="CN=jens"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>festivalappWinStore</DisplayName>
    <PublisherDisplayName>jens</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="festivalappWinStore.App">
        <VisualElements
            DisplayName="festivalappWinStore"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="festivalappWinStore"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>